.carreira_part1_container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  gap: 67px;
  justify-content: center;
}

.carreira_part1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carreira_part1_title,
.carreira_part2_title,
.carreira_part3_title {
  display: flex;
  gap: 17.33px;
  margin-bottom: 24px;
}

.carreira_part1_title h2,
.carreira_part2_title h2,
.carreira_part3_title h2 {
  font-weight: 700;
  font-size: 31px;
  color: #00ADB5;
  line-height: 37.2px;
}

.carreira_part1_subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #19171C;
  margin-bottom: 24px;
}

.carreira_part1_text {
  font-size: 16px;
  line-height: 19px;
  width: 463px;
  text-align: justify;
}

.carreira_part2_container {
  margin-top: 52px;
  margin-bottom: 64px;
  background: #2D364F;
  height: 515px;
}

.carreira_part2 {
  padding: 64px 0;
  display: flex;
  align-items: center;
  gap: 67px;
  justify-content: center;
}

.carreira_part2_subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 463px;
  margin-bottom: 24px;

}

.carreira_part2_text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 463px;
  text-align: justify;
}

.carreira_part3_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  margin-bottom: 64px;
}

.carreira_part3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carreira_part3_text {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #19171C;
  width: 463px;
  text-align: justify;
}

.carreira_part3 button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #00ADB5;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  padding: 7px 16px;
  margin-top: 24px;
  cursor: pointer;
}

@media (max-width: 820px) {
  header {
    justify-content: space-between;
    padding: 0 16px;
    position: inherit;
  }

  .header_logo img {
    width: 58.24px;
  }

  .menu-mobile {
    display: block;
  }

  .menu-open {
    width: 34px;
  }

  .menu-drop {
    margin-top: 0;
  }

  .carreira_part1_container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 55px;
  }

  .carreira_part1 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 18px;
    margin-left: 20px;
  }

  .carreira_part3_container {
    margin-top: -30px;
    gap: 18px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .carreira_part2_container {
    
    height: 700px;
  }

  .carreira_part2 {
    flex-direction: column;
    align-items: center;
    gap: 17px;
  }

  .carreira_part1_title h2,
  .carreira_part2_title h2,
  .carreira_part3_title h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .carreira_part1_text,
  .carreira_part2_subtitle,
  .carreira_part2_text,
  .carreira_part3_text {
    width: 328px;

  }

  .carreira_part2_subtitle {
    font-size: 16px;
  }

  .carreira_part1_img,
  .carreira_part2_img,
  .carreira_part3_img {
    width: 326.84px;

  }

  .footer {
    gap: 21px;
    padding: 13px 16px;
  }

  .footer_logos {
    gap: 7.67px;
  }

  .footer_logos p,
  .footer_redes p {
    font-size: 8px;
  }

  .footer_redes1 {
    gap: 20px;
    flex-wrap: wrap;
    width: 126px;
  }

  .footer_copyrightMobile {
    display: block;
  }

  .footer_copyrightDesktop {
    display: none;
  }
}