.form_container {
  margin-top: 160px;
  margin-bottom: 81px;
  display: grid;
  justify-content: center;
}

.form_title {
  display: flex;
  gap: 17.33px;
  margin-bottom: 24px;
}

.form_title h2 {
  font-weight: 700;
  font-size: 31px;
  color: #00ADB5;
}

.form {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

form p {
  font-weight: 700;
  font-size: 25px;
  color: #141927;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form input,
form textarea {
  width: 631.62px;
  border: 2px solid #1DB5BE;
  border-radius: 4px;
  padding: 8px 13px;
}

form textarea {
  height: 124px;
}

.form_checkbox1 {
  margin-bottom: 23px;
}

.form_checkbox1,
.form_checkbox2 {
  display: flex;
  align-items: center;
  gap: 7.32px;
}

.form_checkbox1 input,
.form_checkbox2 input {
  border: 2px solid #00ADB5;
  border-radius: 2px;
  width: 24px;
  height: 24px;
}

.form_checkbox1 p,
.form_checkbox2 p {
  font-size: 16px;
  font-weight: 400;
}

form button {
  background: #00ADB5;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 0;
  cursor: pointer;
}


@media (max-width: 425px) {
  header {
    justify-content: space-between;
    padding: 0 16px;
  }

  .header_logo img {
    width: 58.24px;
  }

  .menu-mobile {
    display: block;
  }

  .menu-open {
    width: 34px;
  }

  .menu-drop {
    position: absolute;
    background-color: #2d364f;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid #FFFFFF;
    height: 250px;
    width: 100vw;
    animation: drop-down 1s;
    animation-direction: alternate;
    margin-top: 60px;
  }

  .form_container {
    margin-top: 120px;
    margin-bottom: 34px;
    margin-left: 20px;
  }

  .form_title h2 {
    width: 282px;
    font-size: 20px;
  }

  form p {
    font-size: 16px;
    width: 328px;
  }

  form {
    gap: 8px;
  }

  form input,
  form textarea {
    width: 328px;
    padding: 8px 13px;
    background-color: #EEF2FF;
  }

  form textarea {
    height: 59px;
  }

  .form_checkbox1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .form_checkbox1 input,
  .form_checkbox2 input {
    width: 16px;
    height: 16px;
    background-color: #EEF2FF;
  }

  .form_checkbox1 p,
  .form_checkbox2 p {
    font-size: 10px;
  }

  form button {
    margin-top: 16px;
    font-size: 16px;
    width: 328px;
  }

  .form_img {
    display: none;
  }

  .footer {
    gap: 21px;
    padding: 13px 16px;
  }

  .footer_logos {
    gap: 7.67px;
  }

  .footer_logos p,
  .footer_redes p {
    font-size: 8px;
  }

  .footer_redes1 {
    gap: 20px;
    flex-wrap: wrap;
    width: 126px;
  }

  .footer_copyrightMobile {
    display: block;
  }

  .footer_copyrightDesktop {
    display: none;
  }

}