.form_container {
  margin-top: 160px;
  margin-bottom: 81px;
  display: grid;
  justify-content: center;
}

.form_title {
  display: flex;
  gap: 17.33px;
  margin-bottom: 24px;
}

.form_title h2 {
  font-weight: 700;
  font-size: 31px;
  color: #00ADB5;
}

.form {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

form p {
  font-weight: 700;
  font-size: 25px;
  color: #141927;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

form input,
form textarea {
  width: 631.62px;
  border: 2px solid #1DB5BE;
  border-radius: 4px;
  padding: 8px 13px;
  background: #EEF2FF;
}

form textarea {
  height: 124px;
}

.form_checkbox1 {
  margin-bottom: 23px;
}

.form_checkbox1,
.form_checkbox2 {
  display: flex;
  align-items: center;
  gap: 7.32px;
}

.form_checkbox1 input,
  .form_checkbox2 input {
    width: 16px;
    height: 16px;
    background-color: #EEF2FF;
    border: 2px solid #00ADB5;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
  }

  .form_checkbox1 input:checked, 
  .form_checkbox2 input:checked {
    background: #00ADB5;
    border-radius: 2px;
  }

.form_checkbox1 p,
.form_checkbox2 p {
  font-size: 16px;
  font-weight: 400;
}

.container {
  display: block;
  position: relative;
  
  padding-left: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
  border-radius: 2px;
  border: 3px solid #00ADB5;
}

.container input:checked ~ .checkmark {
  background-color: #00ADB5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid white;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ckeckbox_text1, .checkbox_text2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 2px;
}

.checkbox1 {
  display: flex;
  align-items: center;
}

form button {
  background: #00ADB5;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 0;
  cursor: pointer;
}


@media (max-width: 820px) {
  header {
    justify-content: space-between;
    padding: 0 16px;
    position: inherit;
  }

  .header_logo img {
    width: 58.24px;
  }

  .menu-mobile {
    display: block;
  }

  .menu-open {
    width: 34px;
  }

  .form_container {
    margin-top: 48px;
    margin-bottom: 34px; 
  }

  .form_title h2 {
    width: 282px;
    font-size: 20px;
  }

  form p {
    font-size: 16px;
    width: 328px;
  }

  form {
    gap: 8px;
  }

  form input,
  form textarea {
    width: 328px;
    padding: 8px 13px;
    background-color: #EEF2FF;
  }

  form textarea {
    height: 59px;
  }

  .form_checkbox1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .form_checkbox1 p,
  .form_checkbox2 p {
    font-size: 10px;
  }

  .checkbox {
    margin-top: 12px;
  }

  .container {   
    font-size: 10px; 
    width: 325px;
    padding-left: 25px;
    margin-bottom: 25px;
  }

  .checkmark {
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
  }

  .container .checkmark:after {
    left: 1px;
    top: -1px;
    width: 4px;
    height: 7px;
  }

  .ckeckbox_text1, .checkbox_text2 {
  margin-top: -3px;
}

  form button {
    margin-top: -15px;
    font-size: 16px;
    width: 328px;
  }

  .form_img {
    display: none;
  }

  .footer {
    gap: 21px;
    padding: 13px 16px;
  }

  .footer_logos {
    gap: 7.67px;
  }

  .footer_logos p,
  .footer_redes p {
    font-size: 8px;
  }

  .footer_redes1 {
    gap: 20px;
    flex-wrap: wrap;
    width: 126px;
  }

  .footer_copyrightMobile {
    display: block;
  }

  .footer_copyrightDesktop {
    display: none;
  }

}