.portfolio_container {
  padding: 0 100px;
  margin-bottom: 79px;
}

.agro {
  display: flex;
  flex-direction: row;
  gap: 62px;
  margin-top: 160px;
}

.portfolio_card {
  display: flex;
  gap: 62px;
}

.portfolio_card2  {
  display: flex;
  flex-direction: row-reverse;
  gap: 62px;
}

.portfolio_title {
  display: flex;
  gap: 17.33px;
  margin-bottom: 27px;
  line-height: 37px;
  align-items: center;
}

.portfolio_textRight {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.portfolio_title h2 {
  font-weight: 700;
  font-size: 31px;
  color: #00ADB5;
}

.portfolio_text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  width: 463px;
}

.section_portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_more_info {
  margin-bottom: 41px;
}

.section_more_info_text {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 28px;
}

.form-portfolio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-portfolio input {
  border: 2px solid #00ADB5;
  border-radius: 4px;
  width: 550px;
  height: 36px;
  background: #EEF2FF;
}

.form-portfolio input::placeholder {
  color: #141927;
  font-family: 'Montserrat', sans-serif;
  padding-left: 12px;
}

.form-portfolio button {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  background: #00ADB5;
  border-radius: 4px;
  border: none;
  padding: 7px 16px;
  display: flex;
  gap: 10px;
}

.automacoes {
  background-color: #2d364f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 150px 64px 150px;
}

.automacoes_title {
  margin-top: 70px;
  margin-bottom: 64px;
  display: flex;
  gap: 17px;
}

.automacoes_title h2 {
  color: #00ADB5;
  font-weight: 700;
  font-size: 31px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.conj_cards {
  display: flex;
  gap: 71.32px;
  margin-bottom: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card_text p {
  color: white;
  text-align: justify;
  font-size: 16px;
  line-height: 19px;
}

.card_text {
  width: 332.46px;
}

.card_textNames_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 102px;
}

.card_textNames {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_textNames h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10.49px;
}

.card_textNames,
.card_textNames h3 {
  color: #FFFFFF;
}

@media (max-width: 425px) {
  .portfolio_container {
    padding: 0;
    margin-top: 120px;
    margin-bottom: 50px;
  }
  .agro {
    gap: 10px;
    margin-top: 35px;
  }

  .portfolio_card {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 9px;
    margin-left: 25px;
  }

  .portfolio_card2  {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .portfolio_title {
    margin-bottom: 16px;
    line-height: 37px;
  }

  .portfolio_title3 {
    margin-right: 185px;
  }

  .portfolio_textRight {
    text-align: justify;
  }

  .portfolio_textRight .portfolio_title {
    margin-left: 25px;
  }

  .portfolio_img {
    width: 328.6px;
  }

  .agro h2 {
    font-size: 20px;
  }

  .agro p{
    font-size: 16px;
    line-height: 19px;
    width: 338px;
  }

  .portfolio_card2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

  }

  .portfolio_textRight {
    text-align: justify;
    display: flex;
    flex-direction:column;
    align-items:center;
  }

  .section_more_info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section_more_info_text {
    font-size: 16px;    
    line-height: 19px;
    width: 288px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
  }

  .form-portfolio {
    flex-direction: column;
  }

  .more_info_p2 {
    width: 270px;
  }

  .form-portfolio input {
    width: 329px;
  }

  .form-portfolio button {
    font-size: 16px;
    align-items: center;
    margin-top: -8px;
    margin-bottom: 16px;
  }

  .automacoes_title h2 { 
    font-size: 16px;
  }

  .conj_cards {
    flex-direction: column;
    justify-content: center;
  }

  .card_textNames_container {
    flex-direction: column;
  }
}