@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #F5F5F5;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-display: swap;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #00adb5;
  text-align: left;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #17171c;
  text-align: left;
}

header {
  position: fixed;
  top: 0;
  background-color: #2d364f;
  display: flex;
  height: 80px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.header_logo img {
  width: 97px;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-mobile {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

nav a,
.nav_language {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #00adb5;
}

.btn_sample_nav,
.OqueNosFazemos_btn {
  background-color: #00adb5;
  color: white;
  padding: 10px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_sample_nav:hover {
  background-color: #00d6de;
  transition: 1s;
}

.menu-drop {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.home_son {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  /*padding-left: 120px;*/
  /*padding-top: 60px;*/
}

.home_son_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 106px;
  margin-top: 124.13px;
}

.home_son_text h2 {
  width: 417.51px;
  text-align: left;
}

.home_son_text p {
  width: 467.4px;
}

.home_son_text button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #00ADB5;
  border-radius: 4px;
  padding: 10px 16px;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

.home_son_text button a {
  text-decoration: none;
  color: #FFFFFF;
}

.img_2day_principal {
  width: 359.84px;
}

.retangle {
  width: 100px;
  height: 8px;
  background: #5252ff;
  border-radius: 8px;
}

.whatsapp_img {
  position: fixed;
  scale: 0.9;
  cursor: pointer;
  width: 60px;
  height: 60px;
  bottom: 55px;
  right: 130px;
  animation: anime 1s infinite ease-in-out alternate;
  z-index: 999;
}

@keyframes anime {
  100% {
    transform: translateY(12px);
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -o-transform: translateY(12px);
  }
}

.mentoria {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2d364f;
  gap: 30px;
  padding: 80px 150px;
}

.mentoria_pollygonImg {
  position: absolute;
  margin-top: -521px;
}

.mentoria_content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mentoria_text {
  width: 463px;
}

.mentoria_title {
  display: flex;
  align-items: center;
  gap: 17.33px;
  margin-bottom: 26px;
  width: 463px;
}

.mentoria_title h2 {
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  color: #00ADB5;
}

.mentoria_paragrathBold {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 24px;
  text-align: left;
  margin-bottom: 26px;
  width: 400px;
}

.mentoria_paragraph {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 410px;
}

.botTeste {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 62px;
  padding: 0 136px;
  margin-bottom: 100px;
}

.botTeste_son {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.botTest_title {
  display: flex;
  align-items: center;
  gap: 17.33px;
  margin-bottom: 17px;
  line-height: 37px;
}

.botTest_title h2 {
  color: #00ADB5;
}

.botTeste_text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 463px;
}

.botTest_text2 {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

.nossosValores {
  background-color: #2d364f;
  display: flex;
  gap: 40px;
  padding: 64px 150px;
}

.nossosValores_container {
  display: flex;
  justify-content: left;
}

.nossosValores_list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: self-start;
}

.nossosValores_title {
  display: flex;
  gap: 17.30px;
  margin-bottom: 20px;
}

.nossosValores_title h2 {
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  color: #00ADB5;
}

.nossosValores_list li {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;
  list-style: url("../assets/Ellipse\ 20.svg");
  margin-left: 20px;
}

#nossosValores_img {
  width: 671.49px;
}

.section_OqueNosFazemos {
  display: flex;
  flex-direction: column;
  padding: 64px 150px;
  gap: 32px;
}

.OqueNosFazemos_title {
  display: flex;
  align-items: center;
  gap: 17.33px;
  margin-bottom: 30px;
}

.OqueNosFazemos_title h2 {
  color: #00ADB5;
}

.OqueNosFazemos_Son {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
}

.startupLab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.outsourcing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.startupLab p,
.outsourcing p {
  margin-bottom: 30px;
}

.img_startupLab,
.img_outsourcing {
  height: 120px;
}

.div-call-know {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.div-call-know p {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
}

.OqueNosFazemos_btn {
  margin-top: 39px;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2d364f;
  height: auto;
  gap: 16px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 331.17px;
  padding: 13px 0;
}

.footer_logos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.footer_logos img {
  width: 65px;
}

.footer_logos p {
  color: white;
}

.footer_copyrightMobile {
  display: none;
}

.footer_redes {
  display: grid;
  flex-direction: column;
  gap: 10px;
  text-align: right;
}

.footer_redes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer_redes p {
  font-size: 16px;
  color: #FFFFFF;
}

.icone {
  height: 105px;
  color: white;
  padding: 0px 0px 40px 0px;
}