@media (max-width: 420px) {
  .whatsapp_img {
    bottom: 220px;
    right: 16.35px;
  }

  .menu_desktop {
    display: none;
  }

  header {
    justify-content: space-between;
    padding: 0 16px;
  }

  .header_logo img {
    width: 58.24px;
  }

  .menu-mobile {
    display: block;
  }

  .menu-open {
    width: 34px;
  }

  .menu-drop {
    display: block;
    position: absolute;
    background-color: #2d364f;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid #FFFFFF;
    height: 200px;
    width: 100vw;
    animation: drop-down 1s;
    animation-direction: alternate;
    margin-top: 60px;
  }

  .menu-drop nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 27px;
    padding-bottom: 28px;
  }

  .menu-drop a {
    margin-left: 12px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
  }

  .menu-drop a:hover {
    font-weight: 700;
    opacity: 100%;
  }

  .home {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .img_2day_principal {
    width: 261.68px;
  }

  .home_son_text {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .home_son_text h2 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 380px;
  }

  .home_son_text p {
    width: 328px;
    font-size: 16px;
    line-height: 19px;
  }

  .home_son_text button {
    font-size: 16px;
    margin-top: 31.65px;
  }

  .home_img {
    display: none;
  }

  .mentoria {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 67px;
  }

  .mentoria_pollygonImg {
    width: 56px;
    margin-top: -572px;
  }

  .mentoria_content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .mentoria_text {
    width: 328px;
  }

  .mentoria_title {
    margin-bottom: 16px;
    align-items: center;
    margin-top: 20px;
    width: 363px;
  }

  .mentoria_title h2 {
    margin-bottom: 0;
    width: 282px;
    font-size: 20px;
    line-height: 24px;
  }

  .mentoria_paragrathBold {
    line-height: 19px;
    text-align: justify;
    margin-bottom: 16px;
    font-size: 16px;
    width: 328px;
  }

  .mentoria_paragraph {
    font-size: 12px;
    line-height: 14px;
    width: 328px;
    text-align: justify;
  }

  .mentoria_img {
    width: 347.94px;
  }

  .botTeste_son {
    flex-direction: column-reverse;
  }

  .botTest_title {
    margin-bottom: 14px;
  }

  .botTest_title h2 {
    font-size: 20px;
  }

  .botTeste_text {
    font-size: 16px;
    line-height: 19px;
    width: 327px;
    text-align: justify;
  }

  .botTeste_img {
    width: 328.6px;
  }

  .botTeste_son2 {
    display: flex;
    flex-direction: column;
  }

  .botTest_text2 {
    align-items: flex-start;
  }

  .nossosValores {
    gap: 0;
    padding: 64px 0;
    justify-content: center;
  }

  .nossosValores_list {
    justify-content: center;
  }

  .nossosValores_title h2 {
    font-size: 20px;
  }

  .nossosValores_list li {
    font-size: 16px;
    line-height: 19px;
    margin-left: 0;
    width: 327px;
  }

  #nossosValores_img {
    display: none;
  }

  .section_OqueNosFazemos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 0 0;
    gap: 32px;
  }

  .OqueNosFazemos_title {
    margin-bottom: 0;
  }

  .startupLab h2,
  .outsourcing h2 {
    font-size: 20px;
    margin-bottom: -7px;

  }

  .startupLab p,
  .outsourcing p {
    width: 328px;
    font-size: 12px;
    line-height: 14px;
  }

  .img_startupLab_person {
    display: none;
  }

  .img_outsourcing_person {
    display: none;
  }

  .div-call-know {
    margin-top: -40px;
  }

  .div-call-know p {
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    width: 328px;
  }

  .OqueNosFazemos_btn {
    margin-top: 16px;
    margin-bottom: 47px;
    font-size: 16px;
  }

  .footer {
    gap: 21px;
    padding: 13px 16px;
  }

  .footer_logos {
    gap: 7.67px;
  }

  .footer_logos p,
  .footer_redes p {
    font-size: 8px;
  }

  .footer_redes1 {
    gap: 20px;
    flex-wrap: wrap;
    width: 126px;
  }

  .footer_copyrightMobile {
    display: block;
  }

  .footer_copyrightDesktop {
    display: none;
  }
}