@media (max-width: 420px) {
  .portfolio_container {
    margin-top: 160px;
  }

  .portfolio_card {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .portfolio_img {
    width: 328.6px;
  }

  .texto {
    font-size: 6px;
    line-height: 19px;
    width: 127px;
    background-color: aqua;
  }

  .conj_cards {
    flex-direction: column;
    justify-content: center;
  }
}